<!DOCTYPE html>
<html>
<head>

	<title>BLRST Restaurant</title>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
	<script>
		$(document).ready(function() {
		$(".sectiondetails").hide();
		$(".sectionhead").click(function() {
		$(this).next(".sectiondetails").slideToggle('fast');
		});
		});
	</script>

	<style>
		body {
            font-family: "Times New Roman", Georgia, Serif;
            background-color: lightslategrey;
		}
		h1, h2, h3, h4, h5, h6 {
		  font-family: "Playfair Display";
		  letter-spacing: 5px;
		  font-weight: bold;
		}

		#menuholder {
			background-color: darkgrey;
			width: 170px;
			font-size: 13pt;
			font-family: Georgia;
			text-align: center;
			position: fixed;
			border: 3px solid lightslategrey;
			top: 117px;
			left: 30px;
		}

        .sectionhead {
            background-color: aliceblue;
            font-weight: bold;
            color: cadetblue;
            text-transform: uppercase;
            border: 1px solid;
            letter-spacing: 1px;
            padding: 5px;
            margin: 5px;
            cursor: help;
        }

		.sectiondetails {
			background-color: antiquewhite;
			font-size: 11.5px;
			display: none;
			padding: 3px;
		}

		.sectiondetails a {
			color: darkolivegreen;
		}

		.sectiondetails a:hover {
			color: chocolate;
		}

		.tab {
			display: inline-block;
            margin-left: 700px;
		}

		.imgcontainer {
			position: relative;
			text-align: center;
		}

		.overlaytext {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
            font-size: 55px;
            font-weight: bold;
            opacity: 0.85;
            color: cadetblue;
            text-shadow: 2px 2px 6px #000000, -2px -2px 6px #000000;
            border: 3px solid cadetblue;
            padding: 10px;
            box-shadow: -3px -3px 11px #000, 3px 3px 11px #000;
		}

        a:link, a:visited {
            border:2px solid #184562;
            background-color: #f0f8ff;
            font-weight: bold;
            color: darkolivegreen;
            padding: 15px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }
        
        a:hover, a:active {
            border:1px solid #000;
        }

        .pagefooter {
            background: darkgrey;
            padding: 13px;
        }

        .centertext {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .center {
            margin-left: auto;
            margin-right: auto;
        }

        .button {
            background-color: none;
            color: darkolivegreen;
            transition: all 0.7s ease;
        }

        .button:hover {
            color: #132c33;
            border: 3px solid #184562;
            transition: all 0.7s ease;
            letter-spacing: 3px;
            box-shadow: inset 500px 0 0 0px #bdd2b6;
        }

	</style>

</head>

<body>

    <!-- heading bar -->
    <div class="heading-bar" style="padding-top: 0.1px;">
        <div class="padded-heading-bar" style="letter-spacing: 3px; font-size: 20px; font-family: Britannic;">
            <p style="        text-align: center;
        margin-left: 0%;
        margin-right: 0%;
        color: darkolivegreen;
">
                <a href="#menu" class="heading-button">BLRST Menu</a>
                <span class="tab"></span>
                <a href="#details" class="heading-button">Details</a>
                <a href="#queries" class="heading-button">Queries</a>
                <a href="#search" class="heading-button">Search</a>
            </p>
        </div>
    </div>

    <!-- heading image -->
    <div class="imgcontainer" id="menu">
        <img src="https://images.unsplash.com/photo-1521017432531-fbd92d768814?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80"
             alt="Menu" width="1450" height="800">
        <div class="overlaytext">Menu Queries</div>
    </div>

    <!-- page content -->
    <div class="page-content" style="max-width:1000px; padding-left:250px;">

        <br><br><br>

        <div class="section-content" id="details" style="background-color: slategrey; color: #bdd2b6;border: 3px dotted darkslategrey;box-shadow: -5px -5px 5px slategrey, 5px 5px 5px slategrey;padding-left: 10px; padding-right: 10px;">
            <h1 style="color: #132c33;"><center><u>Details</u></center></h1><br>
            <p>
                <center>
                    <b>The following lists a brief description of the functionality of each of the queries and searches available to you here.</b>
                    <br><br><br>
                    <table class="center" style="width: 85%;">
                        <col align="left">
                        <col align="center">
                        <col align="left">
                            <tr>
                                <td>&emsp;&bull;&emsp;<i>Full Menu</i></td>
                                <td>&emsp; &rarr; &emsp; &emsp;</td>
                                <td>Select this query to see the full menu offered at this restaurant.</td>
                            </tr>
                            <tr>
                                <td>&emsp;&bull;&emsp;<i>Vegetarian Menu</i></td>
                                <td>&emsp; &rarr; &emsp;</td>
                                <td>Select this query to see the vegetarian menu options offered at this restaurant.</td>
                            </tr>
                            <tr>
                                <td>&emsp;&bull;&emsp;<i>Vegan Menu</i></td>
                                <td>&emsp; &rarr; &emsp;</td>
                                <td>Select this query to see the vegan menu options offered at this restaurant.</td>
                            </tr>
                            <tr>
                                <td>&emsp;&bull;&emsp;<i>Lactose-Free Menu</i>&emsp;</td>
                                <td>&emsp; &rarr; &emsp;</td>
                                <td>Select query this to see the lactose-free options offered at this restaurant.</td>
                            </tr>
                            <tr>
                                <td>&emsp;&bull;&emsp;<i>Egg-Free Menu</i></td>
                                <td>&emsp; &rarr; &emsp;</td>
                                <td>Select this query to see the egg-free options offered at this restaurant.</td>
                            </tr>
                            <tr>
                                <td>&emsp;&bull;&emsp;<i>Gluten-Free Menu</i></td>
                                <td>&emsp; &rarr; &emsp;</td>
                                <td>Select this query to see the gluten-free options offered at this restaurant.</td>
                            </tr>
                            <tr>
                                <td>&emsp;&bull;&emsp;<i>Seafood-Free Menu</i></td>
                                <td>&emsp; &rarr; &emsp;</td>
                                <td>Select this query to see the seafood-free options offered at this restaurant.</td>
                            </tr>
                            <tr>
                                <td>&emsp;&bull;&emsp;<i>Item Name</i></td>
                                <td>&emsp; &rarr; &emsp;</td>
                                <td>Use this to search for a menu item.</td>
                            </tr>
                            <tr>
                                <td>&emsp;&bull;&emsp;<i>Ingredient</i></td>
                                <td>&emsp; &rarr; &emsp;</td>
                                <td>Use this to search for and find a list of menu items that contain a specific ingredient.</td>
                            </tr>
                    </table>
                    <br><br><br>
                </center>
            </p>
        </div>

        <br><br><br>
        <div class="section-content" id="queries" style="background-color: slategrey; color: #bdd2b6;border: 3px dotted darkslategrey;box-shadow: -5px -5px 5px slategrey, 5px 5px 5px slategrey;padding-left: 10px; padding-right: 10px;">
            <h1 style="color: #132c33;"><center><u>Queries</u></center></h1><br>
            <p>
                <center>
                    {% if items %}
                    <table class="center;" style="width:50%;">
                        <col align="left">
                        <col align="center">
                        <col align="right">
                        <tr>
                            <th align="center" colspan="3"><br>Appetizers<br></th>
                        </tr>
                        {% for item in items %}
                        {% if item.course_type == 'Appetizers' %}
                        <tr>
                            <td>{{ item.menu_name }}</td>
                            <td>&emsp;&emsp;&emsp;</td>
                            <td>&emsp;&emsp; {{ "$%.2f"|format(item.cost) }}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        <tr>
                            <th align="center" colspan="3"><br>Soups and Salads<br></th>
                        </tr>
                        {% for item in items %}
                        {% if item.course_type == 'Soups and Salads' %}
                        <tr>
                            <td>{{ item.menu_name }}</td>
                            <td>&emsp;&emsp;&emsp;</td>
                            <td>&emsp;&emsp; {{ "$%.2f"|format(item.cost) }}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        <tr>
                            <th align="center" colspan="3"><br>Entrees<br></th>
                        </tr>
                        {% for item in items %}
                        {% if item.course_type == 'Entrees' %}
                        <tr>
                            <td>{{ item.menu_name }}</td>
                            <td>&emsp;&emsp;&emsp;</td>
                            <td>&emsp;&emsp; {{ "$%.2f"|format(item.cost) }}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        <tr>
                            <th align="center" colspan="3"><br>Seafood<br></th>
                        </tr>
                        {% for item in items %}
                        {% if item.course_type == 'Seafood' %}
                        <tr>
                            <td>{{ item.menu_name }}</td>
                            <td>&emsp;&emsp;&emsp;</td>
                            <td>&emsp;&emsp; {{ "$%.2f"|format(item.cost) }}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        <tr>
                            <th align="center" colspan="3"><br>Kid's Menu<br></th>
                        </tr>
                        {% for item in items %}
                        {% if item.course_type == "Kid's Menu" %}
                        <tr>
                            <td>{{ item.menu_name }}</td>
                            <td>&emsp;&emsp;&emsp;</td>
                            <td>&emsp;&emsp; {{ "$%.2f"|format(item.cost) }}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        <tr>
                            <th align="center" colspan="3"><br>Desserts<br></th>
                        </tr>
                        {% for item in items %}
                        {% if item.course_type == 'Desserts' %}
                        <tr>
                            <td>{{ item.menu_name }}</td>
                            <td>&emsp;&emsp;&emsp;</td>
                            <td>&emsp;&emsp; {{ "$%.2f"|format(item.cost) }}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        <tr>
                            <th align="center" colspan="3"><br>Drinks<br></th>
                        </tr>
                        {% for item in items %}
                        {% if item.course_type == 'Drinks' %}
                        <tr>
                            <td>{{ item.menu_name }}</td>
                            <td>&emsp;&emsp;&emsp;</td>
                            <td>&emsp;&emsp; {{ "$%.2f"|format(item.cost) }}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}

                        <tr><td><br><br><br></td></tr>

                        <tr>
                            <th colspan="3"><a class="button" href="/menu/">Return to Menu Queries</a></th>
                        </tr>

                    </table>

                    {% else %}
                    <b style="font-size:13pt;">Select query to sort by:</b>

                    <br><br><br>
                        <a class="button" href="/menu/query/all/#queries">Full Menu</a>&emsp;
                        <a class="button" href="/menu/query/vegetarian/#queries">Vegetarian Menu</a>&emsp;
                        <a class="button" href="/menu/query/vegan/#queries">Vegan Menu</a>
                        <br><br>
                        <a class="button" href="/menu/query/lactosefree/#queries">Lactose-Free Menu</a>&emsp;
                        <a class="button" href="/menu/query/eggfree/#queries">Egg-Free Menu</a>&emsp;
                        <a class="button" href="/menu/query/glutenfree/#queries">Gluten-Free Menu</a>&emsp;
                        <a class="button" href="/menu/query/seafoodfree/#queries">Seafood-Free Menu</a>

                    <br><br><br>
                    {% endif %}
                    <br><br><br>

                </center>
            </p>

        </div>

        <br><br><br>
        <div class="section-content" id="search" style="background-color: slategrey; color: #bdd2b6;border: 3px dotted darkslategrey;box-shadow: -5px -5px 5px slategrey, 5px 5px 5px slategrey;padding-left: 10px; padding-right: 10px;">
            <h1 style="color: #132c33;"><center><u>Search</u></center></h1><br>
            <p>
                <center>

                    {% if searchitems %}
                    <table class="center;" style="width:50%;">
                        <col align="left">
                        <col align="center">
                        <col align="right">
                        <tr>
                            <th align="center" colspan="3"><br>Appetizers<br></th>
                        </tr>
                        {% for item in searchitems %}
                        {% if item.course_type == 'Appetizers' %}
                        <tr>
                            <td>{{ item.menu_name }} </td>
                            <td>&emsp;&emsp; {{ "$%.2f"|format(item.cost) }}</td>
                            {% if item.stock_name %}
                            <td>&emsp; &rarr; &emsp;Contains: &emsp;{{ item.stock_name }} </td>
                            {% endif %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                        <tr>
                            <th align="center" colspan="3"><br>Soups and Salads<br></th>
                        </tr>
                        {% for item in searchitems %}
                        {% if item.course_type == 'Soups and Salads' %}
                        <tr>
                            <td>{{ item.menu_name }} </td>
                            <td>&emsp;&emsp; {{ "$%.2f"|format(item.cost) }}</td>
                            {% if item.stock_name %}
                            <td>&emsp; &rarr; &emsp;Contains: &emsp;{{ item.stock_name }} </td>
                            {% endif %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                        <tr>
                            <th align="center" colspan="3"><br>Entrees<br></th>
                        </tr>
                        {% for item in searchitems %}
                        {% if item.course_type == 'Entrees' %}
                        <tr>
                            <td>{{ item.menu_name }} </td>
                            <td>&emsp;&emsp; {{ "$%.2f"|format(item.cost) }}</td>
                            {% if item.stock_name %}
                            <td>&emsp; &rarr; &emsp;Contains: &emsp;{{ item.stock_name }} </td>
                            {% endif %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                        <tr>
                            <th align="center" colspan="3"><br>Seafood<br></th>
                        </tr>
                        {% for item in searchitems %}
                        {% if item.course_type == 'Seafood' %}
                        <tr>
                            <td>{{ item.menu_name }} </td>
                            <td>&emsp;&emsp; {{ "$%.2f"|format(item.cost) }}</td>
                            {% if item.stock_name %}
                            <td>&emsp; &rarr; &emsp;Contains: &emsp;{{ item.stock_name }} </td>
                            {% endif %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                        <tr>
                            <th align="center" colspan="3"><br>Kid's Menu<br></th>
                        </tr>
                        {% for item in searchitems %}
                        {% if item.course_type == "Kid's Menu" %}
                        <tr>
                            <td>{{ item.menu_name }} </td>
                            <td>&emsp;&emsp; {{ "$%.2f"|format(item.cost) }}</td>
                            {% if item.stock_name %}
                            <td>&emsp; &rarr; &emsp;Contains: &emsp;{{ item.stock_name }} </td>
                            {% endif %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                        <tr>
                            <th align="center" colspan="3"><br>Desserts<br></th>
                        </tr>
                        {% for item in searchitems %}
                        {% if item.course_type == 'Desserts' %}
                        <tr>
                            <td>{{ item.menu_name }} </td>
                            <td>&emsp;&emsp; {{ "$%.2f"|format(item.cost) }}</td>
                            {% if item.stock_name %}
                            <td>&emsp; &rarr; &emsp;Contains: &emsp;{{ item.stock_name }} </td>
                            {% endif %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                        <tr>
                            <th align="center" colspan="3"><br>Drinks<br></th>
                        </tr>
                        {% for item in searchitems %}
                        {% if item.course_type == 'Drinks' %}
                        <tr>
                            <td>{{ item.menu_name }} </td>
                            <td>&emsp;&emsp; {{ "$%.2f"|format(item.cost) }}</td>
                            {% if item.stock_name %}
                            <td>&emsp; &rarr; &emsp;Contains: &emsp;{{ item.stock_name }} </td>
                            {% endif %}
                        </tr>
                        {% endif %}
                        {% endfor %}

                        <tr><td><br><br><br></td></tr>

                        <tr>
                            <th colspan="3"><a class="button" href="/menu/">Return to Menu Queries</a></th>
                        </tr>

                    </table>

                    {% else %}
                    <b style="font-size:13pt;">Enter in value to search for in the correlating search bar below:</b>
                    <br><br><br>

                    <table class="center" style="width: 50%;">
                        <col align="center">
                        <col align="center">
                        <col align="center">

                        <tr>
                            <form name=itemsearch>
                                <td>Search By Item Name:</td>
                                <td>
                                    &emsp;
                                    <input name=search size=13>
                                </td>
                                <td>
                                    &emsp;&emsp;
                                    <input type=button name=submit value='Search' onclick='itemsearchlink()'>
                                </td>
                            </form>
                        </tr>

                        <tr>
                            <form name=ingredientsearch>
                                <td>Search By Ingredient:</td>
                                <td>
                                    &emsp;
                                    <input name=search size=13>
                                </td>
                                <td>
                                    &emsp;&emsp;
                                    <input type=button name=submit value='Search' onclick='ingredientsearchlink()'>
                                </td>
                            </form>
                        </tr>

                    </table>

                    <script>
                        function itemsearchlink() {
                            var link = "/menu/search/item/";
                            link += document.itemsearch.search.value;
                            link += "/#search"
                            window.location.href=link;
                        }
                        function ingredientsearchlink() {
                            var link = "/menu/search/ingredient/";
                            link += document.ingredientsearch.search.value;
                            link += "/#search"
                            window.location.href=link;
                        }
                    </script>

                    <br><br><br>

                    {% endif %}

                    <br><br><br>

                </center>
            </p>
        </div>
        <br><br><br>

    </div>

    <!-- navigation/directory menu drop down -->
    <div id="menuholder">
        <p class="sectionhead">[DIRECTORY]</p>

        <p class="sectionhead">HOME</p>
        <div class="sectiondetails">
            <hr class="solid" style="color: darkgrey; text-align:center; ">
            Navigate here to find return to the home page. <br>
            <hr class="solid" style="color:darkgrey;">
            <i><a href="/" style="background-color:antiquewhite;">Home Page</a></i> <br><br>
        </div>

        <p class="sectionhead">MENU</p>
        <div class="sectiondetails">
            <hr class="solid" style="color: darkgrey; text-align:center; ">
            Navigate here to find our restaurant menu as well as additional queries regarding dietary restrictions. <br>
            <hr class="solid" style="color:darkgrey;">
            <i><a href="/menu" style="background-color:antiquewhite;">Menu Queries</a></i> <br><br>
        </div>

        <p class="sectionhead">STOCK</p>
        <div class="sectiondetails">
            <hr class="solid" style="color:darkgrey;">
            Navigate here to find our restaurant's stock purchases as well as additional queries depicting a detailed breakdown of this info. <br>
            <hr class="solid" style="color:darkgrey;">
            <i><a href="/stock" style="background-color:antiquewhite;">Stock Queries</a></i> <br><br>
        </div>

        <p class="sectionhead">STAFF</p>
        <div class="sectiondetails">
            <hr class="solid" style="color:darkgrey;">
            Navigate here to find our restaurant staff members as well as additional queries regarding employee stats. <br>
            <hr class="solid" style="color:darkgrey;">
            <i><a href="/staff" style="background-color:antiquewhite;">Staff Queries</a></i> <br><br>
        </div>

        <p class="sectionhead">MODIFY</p>
        <div class="sectiondetails">
            <hr class="solid" style="color: darkgrey; text-align:center; ">
            Navigate here to modify menu items, ingredients, and stock items. <br>
            <hr class="solid" style="color:darkgrey;">
            <i><a href="/modify" style="background-color:antiquewhite;">Modify Queries</a></i> <br><br>
        </div>

        <p class="sectionhead">FINANCES</p>
        <div class="sectiondetails">
            <hr class="solid" style="color:darkgrey;">
            Navigate here to find our restaurant finances as well as additional queries depicting a detailed breakdown of this info. <br>
            <hr class="solid" style="color:darkgrey;">
            <i><a href="/finance" style="background-color:antiquewhite;">Finance Queries</a></i> <br><br>
        </div>
    </div>

    <!-- Footer -->
    <footer class="pagefooter">
        <p style="background-color: darkgrey; text-align: center;">
            <class ="centertext"> &#11835 &emsp; Created by the BLRST Co. &emsp; &#11835 <br>
        </p>
    </footer>

</body>
</html>