<html>
<head>
    <title>BLRST Restaurant</title>
</head>
<body>
    <h1>Modify Data</h1>
    <ul>
        <li><a href="/modify/additem/dish/">Add Dishes</a></li>
        <li><a href="/modify/removeitem/dish/">Remove Dishes</a></li>
        <li><a href="/modify/additem/stock/">Add Stock</a></li>
        <li><a href="/modify/removeitem/stock/">Remove Stock</a></li>
        <li><a href="/modify/ingredients/">Modify Dish Ingredients</a></li>
        <li><a href="/modify/menu/">Modify Menu</a></li>
    </ul>
</body>
</html>