<html>
<head>
    <title>BLRST Restaurant</title>
</head>
<body>
    <form name=selectdish>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
        <h5>Course Type</h5>
        <select name=coursetype onChange='selecttypelink()'>
            <option value=''></option>
            <option value='Appetizers'>Appetizers</option>
            <option value='Soups and Salads'>Soups and Salads</option>
            <option value='Entrees'>Entrees</option>
            <option value='Seafood'>Seafood</option>
            <option value="Kid's Menu">Kid's Menu</option>
            <option value='Desserts'>Desserts</option>
            <option value='Drinks'>Drinks</option>
            <option value='Unassigned'>Unassigned</option>
            <option value='Removed'>Removed</option>
        </select><br>
        <h5>Dishes</h5>
        <select name=dish>
            {% for item in menu %}
                {% if item.course_type == course %}
                <option value='{{ item.menu_name }}'>{{ item.menu_name }}</option>
                {% endif %}
            {% endfor %}
        </select><br>
        <h5>Change course type: </h5>
        <select name=editcourse>
            <option value='Appetizers'>Appetizers</option>
            <option value='Soups and Salads'>Soups and Salads</option>
            <option value='Entrees'>Entrees</option>
            <option value='Seafood'>Seafood</option>
            <option value="Kid's Menu">Kid's Menu</option>
            <option value='Desserts'>Desserts</option>
            <option value='Drinks'>Drinks</option>
            <option value='Unassigned'>Unassigned</option>
        </select>
        <input type=button name=coursechangebutton value='Edit' onclick='changecourselink()'>
    </form>
    <script>
        function selecttypelink() {
            var link = '/modify/menu/';
            link += document.selectdish.coursetype.value;
            window.location.href = link;
        }
        function changecourselink() {
            var link = '/modify/menu/';
            link += '{{ course }}/';
            link += document.selectdish.dish.value;
            link += '/course/';
            link += document.selectdish.editcourse.value;
            window.location.href = link;
        }
    </script>
</body>
</html>