<!DOCTYPE html>
<html>
<head>
	<title>BLRST Restaurant</title>
</head>
<body>
	<h1> Restaurant Staff </h1><br>
	{% if staff %}
		<table>
		{% if qtype == 'all' %}
			<tr><th>Employee Name</th><th>Position</th><th>Hourly Wage</th></tr>
		{% elif qtype == 'employeeofthequarter' %}
			<tr><th>Year</th><th>Quarter</th><th>Employee Name</th><th>Hours Worked</th></tr>
		{% elif qtype == 'annualwages' %}
			<tr><th>Employee Name</th><th>Position</th><th>Annual Salary</th></tr>
		{% elif qtype == 'positionstats' %}
			<tr><th>Year</th><th>Position</th><th>Hours Per Week</th><th>Amount Paid</th></tr>
		{% endif %}
		{% for person in staff %}
			<tr>
			{% if person.year %}
				<td> {{ person.year }} </td>
			{% endif %}
			{% if person.quart_num %}
				<td> {{ person.quart_num }} </td>
			{% endif %}
			{% if person.f_name%}
				<td>{{ person.f_name }} {{ person.l_name }}</td>
			{% endif %}
			{% if person.position %}
				<td> {{ person.position }} </td>
			{% endif %}
			{% if person.weekly_hours %}
				<td> {{ person.weekly_hours }} </td>
			{% endif %}
			{% if person.hours_in_quarter %}
				<td> {{ person.hours_in_quarter }} </td>
			{% endif %}
			{% if person.hourly_wage %}
				<td> {{ "$%.2f"|format(person.hourly_wage) }} </td>
			{% endif %}
			{% if person.annual_salary %}
				<td> {{ "$%.2f"|format(person.annual_salary) }} </td>
			{% endif %}
			</tr>
		{% endfor %}
		</table>
	{% else %}
		<h3>Select your query:</h3>
		<ul>
			<li><a href="/staff/query/all">All Staff</a></li>
			<li><a href="/staff/query/employeeofthequarter">Employee of the Quarter Awards</a></li>
			<li><a href="/staff/query/annualwages">Staff Annual Income</a></li>
			<li><a href="/staff/query/positionstats">Position Statistics</a></li>
		</ul><br>
		<h3>Find by employee ID number</h3>
		<form name=empidsearch>
			<input name=search size=13><br>
			<input type=button name=submit value='Search' onclick='empidsearchlink()'>
		</form><br>
		<h3>Find by employee name</h3>
		<form name=empnamesearch>
			<input name=search size=13><br>
			<input type=button name=submit value='Search' onclick='empnamesearchlink()'>
		</form><br>
		<h3>Search by staff position</h3>
		<form name=positionsearch>
			<input name=search size=13><br>
			<input type=button name=submit value='Search' onclick='positionsearchlink()'>
		</form><br>
		<script>
			function empidsearchlink() {
				var link = "/staff/search/empid/";
				link += document.empidsearch.search.value;
				window.location.href=link;
			}
			function empnamesearchlink() {
                var link = "/staff/search/empname/";
				link += document.empnamesearch.search.value;
				window.location.href=link;
            }
			function positionsearchlink() {
                var link = "/staff/search/position/";
				link += document.positionsearch.search.value;
				window.location.href=link;
            }
		</script>
	{% endif %}
</body>
</html>