<!DOCTYPE html>
<html>
<head>
	<title>BLRST Restaurant</title>
</head>
<body>
	<h1> Restaurant Stock </h1><br>
	{% if stock %}
		<table>
		{% if qtype == 'all' %}
			<tr><th>StockItem</th><th>Supplier</th><th>Price</th>
			{% if stock[0].menu_item_name %}
				<th>In Dish</th>
			{% endif %}
			</tr>
		{% elif qtype == 'averageorders' %}
			<tr><th>Stock Item</th><th>Average Quantity</th><th>Average Purchase</th></tr>
		{% elif qtype == 'numdishes' %}
			<tr><th>Stock Item</th><th>Supplier</th><th>Number of Dishes</th></tr>
		{% elif qtype == 'supplierbreakdown' %}
			<tr><th>Supplier</th><th>Num Stock Items</th><th>Total Purchases</th></tr>
		{% endif %}	
		{% for item in stock %}
			<tr>
			{% if item.stock_name %}
				<td>{{ item.stock_name }}</td>
			{% endif %}
			{% if item.supplier %}
				<td>{{ item.supplier }}</td>
			{% endif %}
			{% if item.cost %}
				<td>{{ "$%.2f"|format(item.cost) }}</td>
			{% endif %}
			{% if item.num_items %}
				<td>{{ item.num_items }}</td>
			{% endif %}
			{% if item.qty %}
				<td>{{ item.qty }}</td>
			{% endif %}
			{% if item.total %}
				<td>{{ "$%.2f"|format(item.total) }}</td>
			{% endif %}
			{% if item.menu_item_name %}
				<td> --> {{ item.menu_item_name }}</td>
			{% endif %}
			</tr>
		{% endfor %}
		</table>
	{% else %}
		<h3>Select your query:</h3>
		<ul>
			<li><a href="/stock/query/all">All Stock Items</a></li>
			<li><a href="/stock/query/averageorders">Average Weekly Order</a></li>
			<li><a href="/stock/query/numdishes">Stock Items by Dishes Used</a></li>
			<li><a href="/stock/query/supplierbreakdown">Supplier Breakdown</a></li>
		</ul><br>
		<h3>Find stock item by ID number</h3>
		<form name=stockidsearch>
			<input name=search size=13><br>
			<input type=button name=submit value='Search' onclick='stockidsearchlink()'>
		</form><br>
		<h3>Find stock item by name</h3>
		<form name=stocknamesearch>
			<input name=search size=13><br>
			<input type=button name=submit value='Search' onclick='stocknamesearchlink()'>
		</form><br>
		<h3>Find stock item by dishes used</h3>
		<form name=dishsearch>
			<input name=search size=13><br>
			<input type=button name=submit value='Search' onclick='dishsearchlink()'>
		</form><br>
		<script>
			function stockidsearchlink() {
                var link = "/stock/search/stockid/";
				link += document.stockidsearch.search.value;
				window.location.href=link;
            }
			function stocknamesearchlink() {
                var link = "/stock/search/stockname/";
				link += document.stocknamesearch.search.value;
				window.location.href=link;
            }
			function dishsearchlink() {
                var link = "/stock/search/dish/";
				link += document.dishsearch.search.value;
				window.location.href=link;
            }
		</script>
	{% endif %}
</body>
</html>